# REPLACE CREDENTIALS WITH YOUR NATURAL LANGUAGE CLASSIFIER CREDENTIALS
# Rename this file to .env before running 'npm start'.

watson_nlc_url= https://gateway.watsonplatform.net/natural-language-classifier/api
watson_nlc_classifier_id=<Add model id>
# You need to provide either username and password
# watson_nlc_username=<Add NLC Username>
# watson_nlc_password=<Add NLC Password>

# OR IAM API key and URL
watson_nlc_iam_apikey=<Add NLC API key>
