# REPLACE CREDENTIALS WITH YOUR NATURAL LANGUAGE CLASSIFIER CREDENTIALS
# Rename this file to .env before running 'npm start'.

watson_nlc_url= https://gateway.watsonplatform.net/natural-language-classifier/api
watson_nlc_classifier_id= <Add model id>
# You need to provide either username and password
watson_nlc_username=
watson_nlc_password=

# OR IAM API key and URL
# watson_nlc_iam_apikey=
# watson_nlc_iam_url=