<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Support ticket classification demo</title>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>
    <div class="container">
    <br/>
    <h1>Support Ticket Classification Demo</h1>
    <br/>
    <p>For this demo, input file should have less than or equal to 30 rows and should be .csv format. Refer sample input test data file <a href="hhttps://github.com/IBM/support-ticket-classification/tree/master/docs/test_data.csv" target="_blank">here</a></p><br/>
	<form action="/uploadfile" enctype="multipart/form-data" method="post" id="eventForm">
        <div class="form-group">
        <label for="exampleFormControlFile1">Select file (.csv only):</label>
		<input type="file" name="nlcfile" id="nlcfile" accept=".csv"/>
		<input type="submit" value="Upload File" name="submit" id="submit-btn" class="btn btn-secondary btn-sm" onclick="return ValidateExtension()">
        <br/> <span id="lblError" style="color: red;"></span>
        </div>
	</form>
    </div>
    <br/><br/>
    <div class="container" id="responsediv">
    <table id="nlcrespo" class="table table-bordered" style="display: none">
    <thead class="thead-dark"><tr>
    <th>Input text</th>
    <th>Classes</th>
    </tr></thead>
    </table>
    </div>
</body>

<script>
$('#eventForm').submit(function (e) {
 e.preventDefault();
 var fd = new FormData($(this)[0]);
 $.ajax({
   url: '/uploadfile',
   data: fd,
   processData: false,
   contentType: false,
   type: 'POST',
   success: function(data){
        $("#nlcrespo").show();
        $("#nlcrespo").append(data);
        }
   });
});
</script>
<script type="text/javascript">
    function ValidateExtension() {
        var allowedFiles = [".csv"];
        var fileUpload = document.getElementById("nlcfile");
        var lblError = document.getElementById("lblError");
        var regex = new RegExp("([a-zA-Z0-9\s_\\.\-:])+(" + allowedFiles.join('|') + ")$");
        if (!regex.test(fileUpload.value.toLowerCase())) {
            lblError.innerHTML = "Please upload files having extensions: <b>" + allowedFiles.join(', ') + "</b> only.";
            return false;
        }
        lblError.innerHTML = "";
        return true;
    }
</script>
</html>